In [2]:
#Function

In [3]:
# build in functions are

In [4]:
#Print,len,type, ect

In [5]:
# Function start with def

In [6]:
def test1():
    pass

In [7]:
def test():
    print("This my very very First Function")

In [8]:
test() #Calling a function

This my very very First Function

In [9]:
test() + "Sach" #Its showing error because we thinking print which defined above its a str but its not a str , but here as per data typ print
# always shows none type

This my very very First Function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [10]:
#here return fun holds the value and print fun just display the value not hold

In [11]:
def test1():
    return "This my very very First return"

In [12]:
test1()

'This my very very First return'

In [13]:
test1()+ "Sach"  # her we use return typ to concanate date and avoide error generated from print none type

'This my very very First returnSach'

In [14]:
def test2():
    return "Hi I am sachin hawal whats your Name"

In [15]:
test2()

'Hi I am sachin hawal whats your Name'

In [16]:
test1() + test2()

'This my very very First returnHi I am sachin hawal whats your Name'

In [17]:
test1() +" sach"

'This my very very First return sach'

In [18]:
def test3():
    return "sudh",23,54,56,[1,2,3,4]  #it will execute as a tuples

In [19]:
test3()

('sudh', 23, 54, 56, [1, 2, 3, 4])

In [20]:
a,b,c,d,e=test3()

In [21]:
test3()

('sudh', 23, 54, 56, [1, 2, 3, 4])

In [22]:
a

'sudh'

In [23]:
b

23

In [24]:
c

54

In [25]:
d

56

In [26]:
e

[1, 2, 3, 4]

In [27]:
def test4():  #Applying logic here 
    sac = 4/5*55*5/46/5
    return sac

In [28]:
test4()

0.9565217391304348

In [29]:
 #creating arguments /passing arg
def test12(a,b,c): 
    d=a**b/c
    return d

In [30]:
test12()

TypeError: test12() missing 3 required positional arguments: 'a', 'b', and 'c'

In [31]:
 #creating arguments /passing arg
def test5(a,b,c): 
    d=a**b/c
    return d

In [32]:
test5(1,5,9)

0.1111111111111111

In [33]:
def test6(a,b):
    return a+b

In [34]:
test6(4,5)

9

In [35]:
test6("sachin","hawal") #Here it will concatinate both word

'sachinhawal'

In [36]:
test6("sachin",9)

TypeError: can only concatenate str (not "int") to str

In [37]:
test6([1,5,46,5,4],[4584,'sachin',"****"])

[1, 5, 46, 5, 4, 4584, 'sachin', '****']

In [38]:
l=[1,2,3,4,"sach","hawa",[1,5,3,8,4]]
l1=[]
for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)

In [39]:
l1

[1, 2, 3, 4]

In [40]:
def test7(l):
    l1=[]
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
    return l1

In [41]:
test7(l)

[1, 2, 3, 4]

In [42]:
def test7():
    l1=[]
    l2=[]
    l3=[]
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
        elif type(i)==str:
            l2.append(i)
        else:
            l3.append(i)
    return l1,l2,l3
test7()

([1, 2, 3, 4], ['sach', 'hawa'], [[1, 5, 3, 8, 4]])

In [43]:
a,b,c=test7(a)
for i in a:
    print("My Number is "+ str(i))
test7(a)

TypeError: test7() takes 0 positional arguments but 1 was given

In [44]:
l

[1, 2, 3, 4, 'sach', 'hawa', [1, 5, 3, 8, 4]]

In [45]:
def test8(a):
    for i in l:
        return i
    
test8(a)

1

In [29]:
sach=[1,2,3,4,"sach","hawal", [11,12,13,15,55,99]]

In [30]:
def sach1(sach):
    sach2=[]
    for i in sach:
        if type(i)==list:
            for j in i:
                sach2.append(j)
        else:
            if type(i)==int or type(i)==float:
                sach2.append(i)
    return sach2

In [31]:
sach1(sach)

[1, 2, 3, 4, 11, 12, 13, 15, 55, 99]